html{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

@font-face {
    font-family: "Pirate";
    src: url("../res/font/RAPSCALL.TTF");
}

body{
    width: 100%;
    height:100%;
    background: url('../res/background.jpg');
    background-size: cover;
    padding:0;
    margin:0;
    text-align:center;
    overflow: hidden;
}

#title{
    width: 100%;
    font-family: "Pirate";
    text-align: center;
    font-size: 180px;
    margin-bottom:20px;
}

#title span{
    color: #E5C100;
}

#Bouton_demarage a{
    color:white;
    border-radius: 100px;
    border: 2px solid white;
    text-decoration:none;
    padding: 10px 20px;
    font-size: 18px;
}
#left, #right{
    width: 0;
    height:0;
}

#top, #bottom{
    width: 100%;
    height: 100px;
   /* border: 2px solid black; /* debug */
}
#bottom{
    position:absolute;
    top: 99%;
    margin-top: -100px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#main{
    width: 10000px;
    display:inline;
}
#center{
    display:flex;
}

#pioche{
    padding-right: 50px;
    padding-left: 50px;
   /* border: 2px solid black; /* debug */
}

#pioche img{
    width: 150px;
}

.bataille{
    padding: 0px 20px;
}
#fieldGame{
    margin-top : 150px;
    display:flex;
    overflow-x: scroll;
}

#fieldPiocheScore p {
    padding: 8px;
    margin:0;
    font-size: 72px;
    font-family: "Pirate";
}

#score_joueur{
    color: #E5C100;
}
